.grid-container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  /*grid-gap: 30px;*/
  grid-template-rows: auto;
  margin: 0 auto;
  max-width: 1100px; }
  .grid-container.center--vertical {
    align-items: center; }

.col-3 {
  grid-column: span 3; }

.col-4 {
  grid-column: span 4; }

.col-5 {
  grid-column: span 5; }

.col-6 {
  grid-column: span 6; }

.col-7 {
  grid-column: span 7; }

.col-8 {
  grid-column: 3 / span 8; }

.col-12 {
  grid-column: span 12; }

@media only screen and (max-width: 767px) {
  .grid-container {
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 0; }
  .col-3,
  .col-4,
  .col-5,
  .col-6,
  .col-7,
  .col-8,
  .col-12 {
    grid-column: 1 / -1; } }

.loader {
  color: #000;
  font-size: 11px;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }

.sp {
  clear: both;
  height: 32px;
  margin: 0 auto 5px;
  width: 32px; }

/* Spinner Circle Rotation */
.sp-circle {
  border: 4px rgba(0, 0, 0, 0.25) solid;
  border-top: 4px black solid;
  border-radius: 50%;
  -webkit-animation: spCircRot .6s infinite linear;
  animation: spCircRot .6s infinite linear; }

@-webkit-keyframes spCircRot {
  from {
    -webkit-transform: rotate(0deg); }
  to {
    -webkit-transform: rotate(359deg); } }

@keyframes spCircRot {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(359deg); } }

* {
  box-sizing: border-box; }

*:before,
*:after {
  box-sizing: border-box; }

html, body {
  height: 100%; }

body {
  font-family: 'Roboto', sans-serif;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0; }

main {
  flex: 1;
  opacity: 0; }

.header {
  display: flex;
  border-bottom: 1px solid #418FDE;
  margin-bottom: 10px;
  margin-top: 20px; }
  .header .textes {
    flex: auto 1; }
  .header .dropdown {
    flex: 200 1;
    justify-content: flex-end;
    margin-left: 10px; }

#trimestreSelect {
  background-color: #FFF;
  border-color: #FFF;
  border-radius: 8px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
  font: 700 13px 'Source Sans Pro', sans-serif;
  height: 25px;
  white-space: pre-wrap;
  color: #418FDE; }

h1 {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 19px;
  color: #418FDE; }

h2 {
  margin-bottom: 5px;
  margin-top: 5px;
  font-size: 16px;
  color: #ECA154; }

h3 {
  margin-bottom: 10px;
  margin-top: 5px;
  text-transform: uppercase;
  font-size: 15px; }

.charts {
  margin-right: 15px; }

#keyfigures {
  padding-right: 10px;
  padding-bottom: 15px;
  display: flex; }

.keyfig {
  flex: 1 1 auto; }
  .keyfig h4 {
    font-size: 13px;
    white-space: nowrap;
    margin: 0;
    padding-top: 5px;
    text-align: center;
    text-transform: uppercase; }

.num {
  text-align: center;
  font-size: 25px;
  padding: 0;
  white-space: nowrap;
  color: #ECA154; }

.small {
  font-size: 10px; }

#map {
  width: 100%;
  height: 500px; }

.legend {
  line-height: 18px;
  /*color: #555;*/
  opacity: 1; }

.legend i {
  width: 18px;
  height: 18px;
  float: left;
  margin-right: 8px;
  opacity: 1; }

.legend p {
  margin: 0; }

.info {
  padding: 6px 8px;
  background: white;
  background: rgba(255, 255, 255, 0.8);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  border-radius: 5px; }

.info h4 {
  margin: 0 0 5px;
  color: #777; }

.mapFooter {
  display: flex;
  background: rgba(255, 255, 255, 0.8); }
  .mapFooter p {
    font-size: 12px;
    margin: 0;
    margin-left: 5px;
    padding-top: 5px; }
  .mapFooter a {
    font-size: 12px;
    padding-right: 5px;
    padding-top: 5px;
    border-right: 1px solid #418FDE; }

.pieChart {
  width: 180px;
  height: 150px; }

.indicators {
  display: flex; }

.filter-container {
  flex: 1 1 auto; }
  .filter-container .filter-select {
    width: 180px; }

footer {
  background-color: #353535;
  color: #FFF;
  padding: 20px 0 10px; }

.ocha-logo {
  align-self: flex-start;
  border-right: 1px solid #418FDE;
  margin-right: 10px;
  padding-right: 10px;
  padding-bottom: 15px;
  width: 140px; }

.logos img {
  margin-right: 40px;
  margin-bottom: 0;
  vertical-align: top;
  width: auto; }

#datatable {
  margin-top: 20px; }
  #datatable thead tr {
    text-align: left;
    font-size: 13px; }
    #datatable thead tr th:last-child {
      min-width: 112px; }
  #datatable tbody tr td {
    text-align: right;
    font-size: 13px; }

.btn {
  background-color: #418FDE;
  height: 25px;
  margin-right: 10px; }

@media only screen and (max-width: 767px) {
  .logos .grid-container > div {
    padding: 0;
    text-align: center; }
  .logos img {
    margin: 10px; } }
