@import '_grid';
@import '_loader';


* {
	box-sizing: border-box;
}
*:before,
*:after {
 box-sizing: border-box;
}


html, body {
  height: 100%;
}

body {
  font-family: 'Roboto', sans-serif;

  display: flex;
  flex-direction: column;
	margin: 0;
	padding: 0;
}

main {
	flex: 1;
	opacity: 0;
}


.header {
	display: flex;
	border-bottom: 1px solid #418FDE;
	margin-bottom: 10px;
	margin-top: 20px;
	.textes {
		flex: auto 1;
	}

	.dropdown {
		flex: 200 1 ;
		justify-content: flex-end;
		margin-left: 10px;
	}
}

#trimestreSelect {
	background-color: #FFF;
    border-color: #FFF;
    border-radius: 8px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
    font: 700 13px 'Source Sans Pro', sans-serif;
    height: 25px;
    white-space: pre-wrap;
    color: #418FDE;
}

h1 {
	margin-top: 0;
	margin-bottom: 0;
	
	font-size: 19px;
	color: #418FDE;
}
h2 {
	margin-bottom: 5px;
	margin-top: 5px;
	
	font-size: 16px;
	color: #ECA154;
}

h3 {
	margin-bottom: 10px;
	margin-top: 5px;
	text-transform: uppercase;
	font-size: 15px;

}
.charts {
	margin-right: 15px;
}

#keyfigures {
	padding-right: 10px;
	padding-bottom: 15px;
	display: flex;
}

.keyfig{
	flex: 1 1 auto;	
	h4 {
		font-size: 13px;
		white-space: nowrap;
		margin: 0;
		padding-top: 5px;
		text-align: center;
		text-transform: uppercase;
	}
}

.num {	
	text-align: center;
	font-size: 25px;
	padding: 0;
	white-space: nowrap;
	color: #ECA154;
}

.small {
	font-size: 10px;
}

#map {
	width: 100%;
	height: 500px;
}

.legend {
    line-height: 18px;
    /*color: #555;*/
    opacity: 1;
}
.legend i {
    width: 18px;
    height: 18px;
    float: left;
    margin-right: 8px;
    opacity: 1;
}

.legend p {
  margin:0;
}


.info {
    padding: 6px 8px;
    background: white;
    background: rgba(255,255,255,0.8);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 5px;
}

.info h4 {
    margin: 0 0 5px;
    color: #777;
}

.mapFooter {
	display: flex;
	background: rgba(255,255,255,0.8);

	p {
		font-size: 12px;
		margin: 0;
		margin-left: 5px;
		padding-top: 5px;
	}

	a {
		font-size: 12px;
		padding-right: 5px;
		padding-top: 5px;
		border-right: 1px solid #418FDE;
	}
}




.pieChart {
    width: 180px;
    height: 150px;
}

.indicators{
	display: flex;
}

.filter-container {
	flex: 1 1 auto;
	.filter-select {
    	width: 180px;
	}
}

footer {
	background-color: #353535;
	color: #FFF;
	padding: 20px 0 10px;
}

.ocha-logo {
	align-self: flex-start;
  	border-right: 1px solid #418FDE;
  	margin-right: 10px;
  	padding-right: 10px;
  	padding-bottom: 15px;
  	width: 140px;
}

.logos {
	img {
		margin-right: 40px;
		margin-bottom: 0;
		vertical-align: top;
		width: auto;
	}
}

#datatable {
	margin-top: 20px;
	thead {
		tr {
			text-align: left;
			font-size: 13px;
			th {
				&:last-child {
					min-width: 112px;
				}
			}
		}
	}
	tbody {
		tr {
			td {
				text-align: right;
				font-size: 13px;
			}
		}
	}
}

.btn {
	background-color: #418FDE;
	height: 25px;
	margin-right: 10px;
}

@media only screen and (max-width: 767px) {
	.logos {
		.grid-container > div {
			padding: 0;
			text-align: center;
		}
		img {
			margin: 10px;
		}
	}
}
